NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_ENV=test
MERCADO_PAGO_TEST_PAYER_EMAIL=
NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_WEBHOOK_SECRET=
NEXT_PUBLIC_APP_URL=
ASAAS_API_KEY=
ASAAS_ENV=sandbox
ASAAS_TEST_CUSTOMER_CPF_CNPJ=
ASAAS_WEBHOOK_TOKEN=
CRON_SECRET=
